# Python-specific ignores
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environment variables
.env

# macOS-specific ignores
.DS_Store

# AWS SAM files
.aws-sam/

*.zip
package/
*.bash
